.nav {
    grid-area: navigate-bar;
    margin-left: 3vmin;
    width: 200px;
}

.nav__item a {
    color: #4A76A8;
    width: 120px;
    padding: 10px 0;
    border-left: 48px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

.nav__item a:hover {
    background-color: #afbdcc;
}

.nav__item a.active {
    color: #838346;
}