.app-wrapper {
    display: grid;
    margin: 0 10vmin;
    /*width: 70vw;*/

    grid-template-areas: "header header" "navigate-bar content";
    /*grid-template-rows: 1fr;*/
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 1vmin;
}

/*.app-wrapper-top-head {*/
    /*height: 50px;*/
    /*background-color: #4A76A8;*/
/*}*/

.app-wrapper-content {
    grid-area: content;
}
