.app-wrapper {
    display: grid;
    margin: 0 auto 2vw;
    width: 70vw;

    grid-template-areas: "h h " "n c";
    grid-template-rows: 0 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-top-head {
    height: 50px;
    background-color: #4A76A8;
}

.app-wrapper-content {
    grid-area: c;
}
